.bg-red {
  background-color: red;
}

.bg-orange {
  background-color: orange;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.red-text {
  color: red;
}

.orange-text {
  color: orange;
}

.light-blue-text {
  color: #02beea;
}
