.maincontainer {
  position: relative;

  .assignment-button {
    background: $white;
    color: $red-accent-1;
    font-weight: bold;
    height: $px-40;
    line-height: $px-40;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 180px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom-right-radius: 26px;
      border-top-right-radius: 26px;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      border-bottom-left-radius: 26px;
      border-top-left-radius: 26px;
      right: 0;
    }

    &:nth-child(1) {
      top: 15%;
    }

    &:nth-child(2) {
      top: 35%;
    }

    &:nth-child(3) {
      top: 55%;
    }

    &:nth-child(4) {
      top: 25%;
    }

    &:nth-child(5) {
      top: 45%;
    }

    &:nth-child(6) {
      top: 65%;
    }
  }
}
