@media only screen and (min-width: 768px) and (max-width: 930px), only screen and (max-width: 700px)  {
  .summary {
    margin-top: $px-3;
    width: 47% $important;
  }

  .recap-report img,
  .visitors-report {
    width: $percentage-100 $important;
  }

  .goals,
  .analysis {
    margin-left: 0 $important;
    width: $percentage-100 $important;
  }

  .analysis {
    margin-top: $px-10;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar {
    display: none $important;
  }

  .container {
    margin-left: 0 $important;
    width: calc(100% - 20px) $important;
  }
}

@media only screen and (max-width: 660px) {
  .header-menu {
    display: none $important;
  }

  .fa-ellipsis-v {
    display: inline-block $important;
  }
}

@media only screen and (min-width: 661px) {
  .header-menu {
    display: inline-block $important;
  }

  .fa-ellipsis-v {
    display: none $important;
  }
}

@media only screen and (max-width: 500px) {
  .total {
    width: 47% $important;

    &:nth-child(2) {
      border-right: none $important;
    }
  }
}

@media only screen and (max-width: 424px) {
  .dashboard-title h3 {
    display: none $important;
  }

  .summary {
    margin-top: $px-3;
    width: 98% $important;
  }
}
