@media only screen and (min-width: 948px) and (max-width: 1013px) {
  button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 947px) {
  .report-details,
  .subscriber-details {
    display: block $important;
    width: $percentage-100 $important;
  }

  .subscriber-details {
    padding-left: 0 $important;
  }
}

@media only screen and (max-width: 947px) and (min-width: 480px) {
  .subscribers-input {
    margin-top: 15% $important;
  }
}

@media only screen and (max-width: 479px) {
  .subscribers-input {
    margin-top: 35% $important;
  }
}

@media only screen and (max-width: 455px), screen and (max-width: 1139px) and (min-width: 946px) {
  .subscribers-input input {
    margin-top: 35px;
  }
}

@media only screen and (min-width: 769px) {
  .menu-icon-md {
    display: none $important;
  }

  .menu-icon-lg {
    display: inline-block $important;
  }
}

@media only screen and (max-width: 768px) {
  button {
    font-size: 15px $important;
  }

  .menu-icon-lg {
    display: none $important;
  }

  .menu-icon-md {
    display: inline-block $important;
  }

  .search-input {
    display: none $important;
  }

  .search-icon {
    color: $search-icon-color $important;
    font-size: $px-20 $important;
    left: 0 $important;
    top: 25px $important;
  }

  .logo {
    margin: 0 calc((100% - 300px)/2) $important;
    margin-right: 0 $important;
  }

  .sidebar {
    display: none $important;
  }

  .content {
    width: $percentage-100 $important;
  }
}

@media only screen and (max-width: 374px) {
  .action-buttons {
    text-align: center $important;

    .add {
      float: none $important;
    }
  }
}
