@media only screen and (min-width: 948px) and (max-width: 1013px) {
  button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 947px) {
  .report-details, .subscriber-details {
    display: block !important;
    width: 100% !important;
  }

  .subscriber-details {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 947px) and (min-width: 480px) {
  .subscribers-input {
    margin-top: 15% !important;
  }
}

@media only screen and (max-width: 479px) {
  .subscribers-input {
    margin-top: 35% !important;
  }
}
@media only screen and (max-width: 455px), screen and (max-width: 1139px) and (min-width: 946px) {
  .subscribers-input input{
    margin-top: 35px;
  }
}

@media only screen and (min-width: 769px) {
  .menu-icon {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  button {
    font-size: 15px !important;
  }
  .menu-icon {
    display: inline-block !important;
    float: left;
    padding: 0 15px;
    font-size: 20px;
  }
  .search-input {
    display: none !important;
  }

  .search-icon {
    top: 25px !important;
    font-size: 20px !important;
    color: #2f3b4f !important;
    left: 0 !important;
  }
  .logo {
    margin-right: 0 !important;
    margin: 0 calc((100% - 300px)/2) !important;
  }
  .sidebar {
    display: none !important;
  }

  .content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 374px) {
  .action-buttons {
    text-align: center !important;

    button.add {
      float: none !important;
    }
  }
}
