.progress-container {
  @include calc-vendor-prefix(height, '100vh - 130px');
  background-color: $light-gray;
  margin-left: 90px;

  .circle {
    @include animation-vendor-prefix(changeradius 1s ease normal forwards);
    background-color: transparent;
    border: 1px solid $black;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    position: relative;
    width: 70px;
    z-index: 1;

    &:not(:first-child) {
      margin-left: -8px;
    }

    &:nth-child(3) {
      animation-delay: 2s;
    }

    &:nth-child(5) {
      animation-delay: 4s;
    }
  }

  .line {
    @include animation-vendor-prefix(changelinecolor 1s ease normal forwards);
    background-color: $black;
    content: '';
    display: inline-block;
    height: 2px;
    left: -4px;
    position: relative;
    top: -8px;
    width: 80px;
    z-index: 0;

    &:nth-child(2) {
      animation-delay: 1s;
    }

    &:nth-child(4) {
      animation-delay: 3s;
    }
  }
}
