// #### Colors
$white: #fff;
$black: #000;
$gray: #eee;
$blue: #2196f3;
$indigo: #3f51b5;
$brown-darken-4: #3e2723;
$red-accent-1: #ff8a80;
$blue-accent-4: #2962ff;
$grey-lighten-2: #e0e0e0;

$search-icon-color: #b0bec5;
$search-box-bg: #eceff1;
$sidebar-bg: #2f3b4f;
$logout-btn-bg: #2a3344;


$important: !important;
